* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --background: #000430;
    --secondaryBackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
}

body {
    background-color: var(--background);
    color: var(--text);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 120px auto 0 auto;
    max-width: 500px;
}

.stats-container {
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.details {
    width: 100%;

}

#progressBar {
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
}

#progress {
    width: 0%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}

#numbers {
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;

}

form {
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 16px;
    background: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: #fff;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    outline: none;
}

.taskItem {
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task input {
    width: 20px;
    height: 20px;
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}

.taskItem img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}

.task.completed {
    text-decoration: line-through;
    color: var(--teal);
}

/* Telefonos felbontás: max 480px */
@media (max-width: 480px) {
    .container {
        margin: 20px 15px;
        max-width: 100%;
    }

    .stats-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    form {
        flex-direction: row;
        gap: 15px;
    }

    input {
        padding: 12px;
        font-size: 16px;
    }


    .taskItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;
    }

    .task.checkbox {
        width: 5px;
        height: 5px;
        margin-left: 0;
        margin-right: 0;
    }

    .icons {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        gap: 10px;
    }
}

/* Reszponzivitás: Tabletek */
@media (min-width: 481px) and (max-width: 900px) {
    .container {
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        max-width: 80%;
    }

    button {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }

    .stats-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Reszponzivitás: Nagyobb kijelzők */
@media (min-width: 901px) {
    .container {
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
    }

    .stats-container {
        flex-direction: row;
        justify-content: space-between;
    }
}